@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: #fefffe;
}

header{
    margin: 0px;
    padding: 10px 80px 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

#logo{
    width: 200px;
}

#logo a{
    color: #ed453a;
    font-size: 48px;
    text-decoration: none;
}

span{
    color: #ed453a;
}

.navbar{
    width: 800px;
    flex: 1 1 auto;
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 100px;
}


.navbar a{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    position: relative;
    padding: 0 10px;
}

.navbar a::after{
    content: "";
    position: absolute;
    background-color: #ed453a;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -8px;
    transition: all 0.3s ease;
}

.navbar a:hover::after{
    width: 100%;
}

header button{
    background-color: #ed453a;
    color: #000;
    border: 2px solid #ed453a;
    border-radius: 4px;
    height: 50px;
    flex-basis: 100px;
    flex-grow: 0;
    align-self: center;
}

.hero-section{
    background-image: url('imgs/hero-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    padding: 100px;
    gap: 40px;
    height: 100vh;
    box-shadow: 0px 0px 10px #000;
}

.hero-text-banner{
    flex-basis: 500px;
    flex-grow: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.hero-text-banner h1{
    font-size: 54px;
    font-weight: 900;
    color: #ed453a;
}

.hero-text-banner p{
    color: #fefffe;
}

.info-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    gap: 40px;
    height: 80vh;
}

.about-text{
    flex-basis: 700px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-text h1{
    color: #ed453a;
    margin-bottom: 80px;
}

.services-section{
    display: flex;
    flex-direction: column;
    padding: 20px 100px 100px;
    align-items: center;
}

.services-section h1{
    color: #ed453a;
    font-size: 36px;
    font-weight: extra-bold;
    margin-bottom: 60px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 0px 80px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 200px;
    flex-grow: 1;
}

.card p{
    text-align: center;
}

.box{
    border: 4px solid #ed453a;
    width: 300px;
    height: 300px;
    border-radius: 16px;
}

.teachers-section{
    display: flex;
    flex-direction: column;
    padding: 20px 100px 100px;
    align-items: center;
}

.teachers-section h1{
    color: #ed453a;
    font-size: 36px;
    font-weight: extra-bold;
    margin-bottom: 60px;
}


.teachers-section .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 0px 240px;
}

.box-teacher{
    width: 300px;
    height: 300px;
}

.teachers-section img{
    width: 100%;
    border-radius: 16px;
    box-shadow: 0px 0px 10px #ed453a;
}

.reasons-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    gap: 40px;
    height: 80vh;
}

.reasons-section .about-text{
    flex-basis: 700px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reasons-section .about-text h1{
    color: #ed453a;
    margin-bottom: 80px;
}






